.cartLayout {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.cartContainer {
    width: 43.75rem;
}

.cartTitle {
    padding: 1.5625rem 0;
    font-size: 1.7rem;
    border-bottom: 1px solid #eaeaee;
    letter-spacing: .09rem;
}

.clearCartButton {
    color: #ff8282;
    font-size: 1rem;
    margin-left: 0.9375rem;
    cursor: pointer;
}

.cartList {
    margin-bottom: 3.125rem;
}

.cartListSum {
    display: flex;
    justify-content: space-between;
}

.itemsCost {
    font-size: 1.3rem;
}