.cartContainer {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    cursor: pointer;
    transition: 0.2s;
}

.cartContainer:hover {
    color: #4ad9bd;
}

.cartIcon {
    display: flex;
    align-items: center;
    position: relative;
    width: 2.1875rem;
    height: 2.1875rem;
}

.cartBabl {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../../../assets/svg/icon-cart-babl-header.svg');
    height: 0.9375rem;
    width: 1.125rem;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    color: #ffffff;
	font-size: 0.8rem;
	align-items: center;
}

div.cartBabl::before {
	counter-reset: x var(--products-amount);
    content: counter(x);
}
