.carouselItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemImage {
    height: 10.625rem;
}

.itemPrice {
    color: #046d9d;
    font-size: 0.9rem;
}

.discount {
    color: #4ad9bd;
}

.itemTitle {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 0.625rem;
    text-align: center;
}
