.paymentBlock {
    padding-top: 1.875rem;
    color: #046d9d;
    font-size: 1.1rem;
}

.resultCost {
    display: flex;
}

.costValue {
    margin-left: auto;
    font-size: 1.3rem;
}

.goldStatus {
    color: #ffa000;
    display: flex;
    margin-top: 1.5625rem;
}

.goldStatus > img {
    margin: 0 0.4375rem;
}

.goldDiscount {
    margin-left: auto;
    font-size: 1.3rem;
}

.accountCashback {
    color: #4ad9bd;
    display: flex;
    margin-top: 1.5625rem;
}

.accountCashbackValue {
    margin-left: auto;
    font-size: 1.3rem;
}

.purchaseButton {
    text-transform: uppercase;
    color: #fff;
    background-color: #4ad9bd;
    display: flex;
    justify-content: center;
    height: 3.125rem;
    align-items: center;
    font-size: 0.875rem;
    border-radius: 3px;
    margin-top: 1.875rem;
    cursor: pointer;
    transition: .2s;
}

.purchaseButton:hover {
    background-color: #3fc0a6;
}
