.listItem {
    padding: 30px 0;
    border-bottom: 1px solid #eaeaee;
}

.itemTitle {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.deleteItemButton {
    margin-left: auto;
    width: 20px;
    height: 20px;
    background-image: url('../../../assets/svg/icon-cart-trash.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.2s;
}

.deleteItemButton:hover {
    background-image: url('../../../assets/svg/icon-cart-trash-action.svg');
}

.itemBody {
    display: flex;
}

.itemImage {
    height: 110px;
    margin-right: 15px;
}

.itemControls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemCounter {
    display: flex;
    align-items: center;
}

.minus {
    background-image: url('../../../assets/svg/icon-amount-minus.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.minus:hover {
    background-image: url('../../../assets/svg/icon-amount-minus-action.svg');
}

.itemsAmount {
    color: #046d9d;
    font-size: 1.7rem;
    margin: 0 20px;
}

.plus {
    background-image: url('../../../assets/svg/icon-amount-plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.plus:hover {
    background-image: url('../../../assets/svg/icon-amount-plus-action.svg');
}

.remainingItems {
    color: #ff8282;
    font-size: 0.8rem;
}

.specifications {
    display: flex;
    align-items: center;
    color: #8a93a3;
    font-size: 0.8rem;
}

.itemSpecSize {
    font-size: 0.6rem;
    display: flex;
    color: #4ad9bd;
    height: 10px;
    border: 5px solid #4ad9bd;
    align-items: center;
    margin-left: 10px;
    padding: 0 5px;
    border-image-source: url('../../../assets/svg/product-size-action.svg');
    border-image-slice: 4;
    border-image-repeat: round;
}

.itemPrice {
    color: #8a93a3;
    margin-left: auto;
    font-size: 0.8rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.priceRow {
    margin: 10px 0;
}

.fullPrice {
    font-size: 1.3rem;
    color: #046d9d;
    margin: 10px 0;
    margin-left: 10px;
}

.discountPrice {
    font-size: 1.3rem;
    color: #4ad9bd;
    margin-left: 10px;
}
