.recommendationsBlock {
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    width: 700px;
}

.recommendationsTitle {
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
}

.showAllButton {
    font-weight: 500;
    font-size: 1rem;
    color: #046d9d;
    margin-left: 20px;
    cursor: pointer;
}

.carousel {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carouselButton {
    cursor: pointer;
    padding: 0;
    display: flex;
    border: 0;
    outline: none;
}

.carouselSlider {
    flex-grow: 1;
    overflow: hidden;
}

.carouselSliderTray {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
